---
import Input from "../Input.astro";
---

<form method="GET" action="/blog/pages" class="w-full">
  <Input
    name="q"
    aria-labelledby="ブログ内検索キーワード"
    placeholder="ブログ内検索キーワード"
  />
</form>
