---
import menus from "./menus.json";
import MenuItem from "./MenuItem.astro";
import BlogSearchForm from "./BlogSearchForm.astro";

type Props = {
  current: "top" | "blog" | "profile";
};

const { current } = Astro.props;
---

<ul class="flex gap-2">
  {
    menus.map((menu) => (
      <MenuItem href={menu.href} active={menu.id === current}>
        {menu.label}
      </MenuItem>
    ))
  }
  <li>
    <BlogSearchForm />
  </li>
</ul>
