---
import BlogSearchForm from "./BlogSearchForm.astro";
import MenuItem from "./MenuItem.astro";
import menus from "./menus.json";
---

<div class="fixed inset-0 pt-20">
  <ul class="h-full bg-background">
    {
      menus.map((menu) => (
        <div class="border-b border-solid border-border">
          <MenuItem href={menu.href}>{menu.label}</MenuItem>
        </div>
      ))
    }
    <div class="border-b border-solid border-border p-2">
      <BlogSearchForm />
    </div>
  </ul>
</div>
