---
import BlogSearchForm from "./BlogSearchForm.astro";
import MenuItem from "./MenuItem.astro";
import menus from "./menus.json";
---

<div class="fixed top-0 left-0 bottom-0 right-0 pt-20">
  <ul class="bg-background h-full">
    {
      menus.map((menu) => (
        <div class="border-b border-border border-solid">
          <MenuItem href={menu.href}>{menu.label}</MenuItem>
        </div>
      ))
    }
    <div class="border-b border-border border-solid p-2">
      <BlogSearchForm />
    </div>
  </ul>
</div>
