---
// eslint-disable-next-line import/no-unresolved
import { Image } from "astro:assets";
import Me from "@/assets/me.jpeg";
import SNSList from "@/layouts/MainLayout/SNSList.astro";
---

<div class="space-y-2 rounded-sm border p-4">
  <div class="flex items-center gap-4">
    <div class="h-16 w-16 rounded-full">
      <Image src={Me} alt="" />
    </div>
    <div>
      <div class="mb-1 font-bold">はる</div>
    </div>
  </div>
  <div class="text-sm">
    <p>Web エンジニです。</p>
    <p>
      フロントエンド技術を中心に Web
      システム開発、デスクトップアプリ開発などフルスタックに何でもやります。
    </p>
    <p>ご連絡は X からお願いします。</p>
  </div>
  <div>
    <SNSList />
  </div>
</div>
