---
// eslint-disable-next-line import/no-unresolved
import { Image } from "astro:assets";
import { HamburgerMenu } from "./menu/HamburgerMenu.tsx";
import Menu from "./menu/Menu.astro";
import SPMenu from "./menu/SPMenu.astro";
import logo from "@/assets/logo.svg";

const pathname = new URL(Astro.request.url).pathname;
const [, currentMenu] = pathname.split("/");
class InvalidMenuError extends Error {
  static {
    this.prototype.name = InvalidMenuError.name;
  }

  constructor(menu: string) {
    super("現在のメニューが不正です", {
      cause: {
        selectedMenu: menu,
      },
    });
  }
}

if (currentMenu !== "blog" && currentMenu !== "profile" && currentMenu !== "") {
  throw new InvalidMenuError(currentMenu);
}
---

<header class="grid h-16 grid-cols-[auto_1fr]">
  <a href="/" rel="prefetch">
    <Image src={logo} height={64} alt="はるさめ.dev" />
  </a>
  <nav aria-label="メインメニュー" class="grid grid-cols-[1fr_auto]">
    <div class="hidden justify-end md:flex">
      <Menu current={currentMenu || "top"} />
    </div>
    <div class="flex justify-end md:hidden">
      <HamburgerMenu client:only="react">
        <SPMenu />
      </HamburgerMenu>
    </div>
  </nav>
</header>
