---
import "../assets/global.css";

import Header from "../components/Header.astro";
interface Props {
  title?: string;
}

const { title = "はるさめ Tec Party" } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web エンジニアの Tec 系とかその他日常とかのブログです"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col items-center p-2 md:p-4">
    <div class="w-full max-w-5xl">
      <Header />
      <main class="mt-2 rounded-sm border p-4">
        <slot />
      </main>
    </div>
  </body>
</html>
