---
import "../assets/global.css";

import Header from "../components/Header.astro";
interface Props {
  title?: string;
}

const TITLE = "はるさめ.dev";
const { title } = Astro.props;
const titleInHead = title ? `${title} - ${TITLE}` : TITLE;
---

<!doctype html>
<html lang="ja">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-DV9Z5XM82F"
      type="text/partytown"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-DV9Z5XM82F");
    </script>
    <!-- Google tag (gtag.js) -->
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Web エンジニアの Tec 系とかその他日常とかのブログです"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{titleInHead}</title>
  </head>
  <body class="flex flex-col items-center p-2 md:p-4">
    <div class="w-full max-w-5xl">
      <Header />
      <main class="mt-2 rounded-sm border p-4">
        <slot />
      </main>
      <footer class="empty:hidden mt-8 rounded-sm border p-4">
        <slot name="footer" />
      </footer>
    </div>
  </body>
</html>
